@import url("https://fonts.googleapis.com/css2?family=Figtree&family=Montserrat:ital,wght@0,500;1,400&family=Poppins:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background: rgb(230, 230, 230);
  display: flex;
  align-items: center;
  padding: 0px 200px;
  width: 100vw;
  margin: auto;
  > img {
    height: 40px;
  }
  > .menubar {
    margin-left: auto;
    display: flex;
    list-style: none;
    > li {
      position: relative;
      > a {
        font-family: "Montserrat";
        text-decoration: none;
        display: block;
        padding: 6px 20px;
        color: black;
        line-height: 60px;
      }
      &::before {
        content: "";
        width: 0%;
        height: 6px;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        background: crimson;
        transition: 0.5s;
      }
      &:hover::before {
        width: 100%;
      }
      &:hover {
        visibility: visible;

        > .submenu {
          visibility: visible;
          top: 100%;
          transition: 0.5s ease;
        }
        > .mega {
          visibility: visible;
          top: 72px;
        }
      }
      > .submenu {
        list-style: none;
        position: absolute;
        top: -130%;
        left: 50%;
        width: 160%;
        background: rgb(233, 240, 253);
        visibility: hidden;
        transform: all 0.3s ease-in-out;
        z-index: -1;
        transform: translateX(-50%);
        li {
          position: relative;

          a {
            padding: 6px;
            font-family: "Montserrat";
            text-decoration: none;
            color: black;
            line-height: 30px;
            display: block;
            text-align: center;
          }
          &::before {
            content: "";
            width: 0%;
            height: 6px;
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            background: crimson;
            transition: 0.5s;
          }
          &:hover::before {
            width: 100%;
          }
          &:hover {
            > .subsubmenu {
              visibility: visible;
              left: 100%;
            }
          }
          > .subsubmenu {
            list-style: none;
            position: absolute;
            top: 0%;
            left: 105%;
            visibility: hidden;
            transition: 0.3s;
            background: rgb(233, 240, 253);
            width: 100%;
            z-index: -20;
          }
        }
      }
      > .mega {
        width: 90vw;
        margin: auto;
        position: fixed;
        background: #dddddd;
        top: -200px;
        left: 50%;
        transform: translateX(-50%);
        visibility: hidden;
        transition: 0.3s ease;
        z-index: -10;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        padding: 20px;
        > img {
          border: solid;
          border-radius: 5%;
          border-color: transparent;
        }
      }
    }
  }
}
